:root {
  --text: #0c031b;
  --background: #e9dffb;
  --box-shadow-auth: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --white: #ffff;
  --primary: #ba9bf3;
  --primary_hover: #a276f3;
  --background_hover: #ddd7e9;
  --placeholder: #808080;
  --error: #ed2424;
  --red-red-light: #fdeceb;
  --notify_info: #4187ff;
  --notify_info_bg: #eaefff;
  --notify_success: #60b286;
  --green-green-light: #e8f3ed;
  --notify_warning: #f98347;
  --primary-primary-light: #feefe7;
}
