:root {
  --text: #0c031b;
  --background: #e9dffb;
  --box-shadow-auth: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --box-shadow-main: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  --white: #ffff;
  --white-shadow: #F4F4F4;
  --primary: #ba9bf3;
  --primary_hover: #a276f3;
  --primary-light: rgba(84, 24, 195, 0.3);
  --primary_border: #c5bad9;
  --background_hover: #ddd7e9;
  --white_shadow: #f4f4f4;
  --secondary: #cab2f5;
  --placeholder: #808080;
  --gallery: #ecebeb;
  --error: #ed2424;
  --provincial-pink: #fdeceb;
  --notify_info: #4187ff;
  --blue: #2f80ed;
  --notify_info_bg: #eaefff;
  --notify_success: #60b286;
  --harp: #e8f3ed;
  --notify_warning: #f98347;
  --bridesmaid: #feefe7;
  --accent: #5418c3;
  --accent_hover: #3d1c7b;
  --accent_disable: #786c8e;
}
