form {
    &.create {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @include media_mobile {
            display: block;
        }
        i.arrow {
            right: 16px;
            top: 20px;
            width: 14px;
            height: 14px;
            @include media_mobile {
                top: 17px;
            }
            &.active {
                transform: rotate(180deg);
                top: 14px;
                @include media_mobile {
                    top: 11px;
                }
            }
        }
        .position {
            display: flex;
            align-items: center;
            &.mobile {
                @include media_mobile {
                    flex-direction: column;
                }
            }
            &-dropdown {
                width: 100%;
                position: relative;
                @include media_mobile {
                    i.arrow {
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
        .form-item {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 120px;
            padding: 40px 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            border: 1px dashed var(--primary);
            background: var(--white);
            box-sizing: border-box;
            @include media_mobile {
                &.show {
                    display: none;
                }
            }
            &:hover {
                background: var(--white_shadow);
            }
            &.error {
                border-color: var(--error);
            }
            @include media_mobile {
                height: 64px;
                padding: 12px;
                box-sizing: border-box;
            }
            input {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }
            label.label {
                display: flex;
                gap: 12px;

                @include font(14px, 400, 20px, var(--text));
                text-align: left;

                @include media_mobile {
                    flex-direction: column;
                    align-items: center;
                    margin: 0;

                    font-size: 10px;
                    line-height: 14px;
                    color: var(--placeholder);
                    text-align: left;
                    margin-left: 44px;
                    margin-bottom: 0;
                }
            }
            .foto {
                background: var(--primary);
                width: 40px;
                height: 40px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media_mobile {
                    position: absolute;
                    top: 15px;
                    left: 65px;
                    width: 32px;
                    height: 32px;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    background: url("@/assets/icons/foto.svg");
                    background-size: contain;
                    width: 20px;
                    height: 16px;

                    @include media_mobile {
                        width: 16px;
                        height: 12px;
                    }
                }
            }
        }
        .form-group {
            width: 100%;
            margin-bottom: 16px;
            @include media_mobile {
                margin-bottom: 10px;
            }
            &.title {
                width: 396px;
                margin-right: 16px;
                @include media_mobile {
                    width: 100%;
                    margin-right: 0;
                }
            }
            &.key {
                width: 200px;
                @include media_mobile {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            &.members {
                margin-bottom: 16px;
            }
            .grey-circle {
                width: 20px;
                height: 20px;
                border-radius: 10px;
                margin-right: 8px;
                background: var(--placeholder);
                position: absolute;
                top: 14px;
                left: 16px;
                @include media_mobile {
                    top: 12px;
                    left: 12px;
                }
            }
            img {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                margin-right: 8px;
                top: 14px;
                left: 16px;
                @include media_mobile {
                    top: 10px;
                    left: 12px;
                }
            }
            label {
                font-size: 14px;
                line-height: 20px;
                display: flex;
                align-items: center;
                @include media_mobile {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
            i.arrow.mobile {
                width: 12px;
                height: 12px;
                right: 0;
                top: 5px;
                display: none;
                @include media_mobile {
                    display: block;
                }
            }
            label.tag {
                &::before {
                    display: none;
                }
            }
            @include media_mobile {
                input {
                    &.show {
                        display: none;
                    }
                }
            }
            &.lead {
                margin: 0 16px 16px 0;
                input {
                    padding: 14px 16px 14px 44px;
                    width: 224px;
                    @include media_mobile {
                        padding: 12px 12px 12px 40px;
                    }
                }
                @include media_mobile {
                    margin-right: 0;
                    input {
                        width: 100%;
                    }
                }
            }
            &.members {
                i.arrow {
                    right: 16px;
                }
                input {
                    width: 372px;
                    @include media_mobile {
                        width: 100%;
                    }
                }
            }
            &.tag {
                input {
                    width: 224px;
                }
            }
            label.tag {
                margin-bottom: 0;
            }

            button.close {
                width: 22px;
                height: 22px;
            }

            button {
                padding: 10px 8px;
                width: 62px;
                height: 32px;
                box-sizing: border-box;
                font-size: 14px;
                line-height: 20px;
                margin-left: 8px;
                border-radius: 8px;
                &:before {
                    mask-image: url("@/assets/icons/plus.svg");
                    background: var(--white);
                }
                @include media_mobile {
                    padding: 4px 8px;
                    width: 54px;
                    height: 24px;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
            .tags {
                position: relative;
                display: flex;
                align-items: center;
                padding: 6px 8px 6px 22px;
                border-radius: 8px;
                border: none;
                background: var(--accent);
                @include font(14px, 400, 20px, var(--white));
                margin-left: 8px;
                i.close {
                    top: 11px;
                    left: 8px;
                    width: 10px;
                    height: 10px;
                    &::before {
                        background: var(--white);
                    }
                }
            }
            &.desc {
                input {
                    height: 78px;
                    &::placeholder {
                        position: absolute;
                        top: 12px;
                    }
                }
            }
        }
    }
    .form-group {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 20px;
        .form-icon {
            position: relative;
            display: flex;
            align-items: center;
            i.arrow {
                right: 31px;
                height: 11px;
                @include media_mobile {
                    right: 14px;
                    top: 14px;
                }
            }
        }
        span {
            display: none;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        @include media_mobile {
            margin-bottom: 16px;
        }
        label {
            @include font(12px, 400, 18px, var(--text));
            margin-bottom: 8px;
            @include media_mobile {
                line-height: 16px;
                margin-bottom: 6px;
            }
        }
        input {
            border-radius: 4px;
            border: 1px solid var(--primary);
            background: var(--white);
            padding: 14px 16px;
            outline: none;
            height: 48px;
            width: 100%;
            box-sizing: border-box;
            cursor: pointer;
            @include font(14px, 400, 20px, var(--text));
            @include media_mobile {
                padding: 12px;
                height: 40px;
            }
            &::placeholder {
                @include font(14px, 400, 20px, var(--placeholder));
            }
            &:hover {
                border-color: var(--primary_hover);
            }
            &:focus {
                border-color: var(--primary_hover);
            }
            &:active {
                border-color: var(--primary_hover);
            }

            &.disabled {
                background: var(--background_hover);
                pointer-events: none;
            }
        }
        textarea {
            border: 1px solid var(--primary);
            border-radius: 4px;
            outline: none;
            padding: 12px 16px;
            color: var(--text);
            min-height: 77px;
            box-sizing: border-box;
            resize: vertical;
            cursor: pointer;
            @include media_mobile {
                &.show {
                    display: none;
                }
            }
            &::placeholder {
                @include font(14px, 400, 20px, var(--placeholder));
            }
            &:hover {
                border-color: var(--primary_hover);
            }
            &:focus {
                border-color: var(--primary_hover);
            }

            &.disabled {
                background: var(--background_hover);
                pointer-events: none;
            }
            &.error {
                border: 1px solid var(--error);
            }
            @include media_mobile {
                min-height: 58px;
            }
        }
        .error-message {
            display: none;
        }

        .password-toggle {
            right: 16px;
            @include media_mobile {
                right: 12px;
            }
        }
        &.error {
            input {
                margin-bottom: 0;
                border: 1px solid var(--error);
            }
            span {
                display: block;
                margin: 8px 0 0;
                @include font(12px, 400, 18px, var(--error));
                @include media_mobile {
                    margin: 6px 0 0;
                }
            }
            .form-item {
                border: 1px dotted var(--error);
            }
            textarea {
                border: 1px solid var(--error);
            }
        }
    }
}
