.icon {
    width: 20px;
    height: 20px;
    display: block;
    mask-size: contain;
    mask-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    &:before {
        content: "";
        display: block;
        background: var(--text);
        width: 100%;
        height: 100%;
    }
    &.password-hide {
        mask-image: url("../assets/icons/visible-not.svg");
    }
    &.password-show {
        mask-image: url("../assets/icons/visible.svg");
    }
    &.close {
        mask-image: url("../assets/icons/close.svg");
    }
    &.search {
        mask-image: url("@/assets/icons/search.svg");
    }
    &.home {
        mask-image: url("@/assets/icons/home.svg");
    }
    &.projects {
        mask-image: url("@/assets/icons/projects.svg");
    }
    &.tasks {
        mask-image: url("@/assets/icons/tasks.svg");
    }
    &.user {
        mask-image: url("@/assets/icons/user.svg");
    }
    &.info {
        mask-image: url("@/assets/icons/info_2.svg");
    }
    &.setting {
        mask-image: url("@/assets/icons/setting.svg");
    }
    &.logout {
        mask-image: url("@/assets/icons/logout.svg");
    }
    &.arrow {
        mask-image: url("@/assets/icons/arrow.svg");
    }
    &.logo_header {
        background: url("@/assets/icons/logo_header.svg");
        width: 55px;
        height: 72px;
        &::before {
            background: transparent;
        }
    }
    &.info_second {
        mask-image: url("@/assets/icons/info_2.svg");
        &::before {
            background-color: var(--text);
        }
    }
    &.icon-close {
        mask-image: url("@/assets/icons/close.svg");
    }
    &.check {
        mask-image: url("@/assets/icons/check.svg");
    }
    &.unchecked {
        mask-image: url("@/assets/icons/unchecked_star.svg");
    }
    &.star {
        mask-image: url("@/assets/icons/star.svg");
    }
    &.sort {
        mask-image: url("@/assets/icons/sort.svg");
    }
    &.sort_down {
        mask-image: url("@/assets/icons/sort_down.svg");
    }
    &.member {
        mask-image: url("@/assets/icons/member.svg");
    }
    &.projects {
        mask-image: url("@/assets/icons/projects.svg");
    }
    &.department {
        mask-image: url("@/assets/icons/department.svg");
    }
    &.reset-icon {
        mask-image: url("@/assets/icons/reset.svg");
    }
    &.foto {
        mask-image: url("@/assets/icons/foto.svg");
    }
    &.company {
        mask-image: url("@/assets/icons/company.svg");
    }
    &.compass {
        mask-image: url("@/assets/icons/compass.svg");
    }
    &.case {
        mask-image: url("@/assets/icons/case.svg");
    }
    &.dot {
        mask-image: url("@/assets/icons/dot.svg");
    }
    @include media_mobile {
        width: 16px;
        height: 16px;
    }
}
